/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.parallax-container-my {
    min-height: 380px;
    line-height: 0;
    color: rgba(255,255,255,.9);
}

.qualquer{
  overflow-x: hidden;
  overflow-y: hidden;
}

.semRotacaoLateral{
  overflow-x: hidden;
  /*overflow-y: hidden;*/
}

#myCanvas{
	cursor: default;
	border: solid 1px #000;
	background-color: #fff;
  background: #fff;
	/*text-align: center;*/
	padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: auto;
	/*margin-top: -50px;*/
  display: block;
}

#cvs{
	/*background-color: grey;*/
  margin: 0.5rem 0 0rem 0;
}

.wrapper {
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.wrapper div {
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, .3)
}
